<div layout="column" ng-cloak>
  <md-content>
    <div layout="row" style="margin:8px;padding-bottom:32px">
      <h1 style="margin-top:8px"> {{playName}} </h1>
      <md-tabs class="feature-tabs" md-autoselect md-no-pagination="true">
        <md-tab style="width:100px" ng-click="ctrl.showFeature('Summary')">Summary</md-tab>
        <md-tab style="width:100px" ng-click="ctrl.showFeature('Themes')">Themes</md-tab>
        <md-tab style="width:100px" ng-click="ctrl.showFeature('Visualizations')">Character Relationships</md-tab>
        <md-tab style="width:100px" ng-click="ctrl.showFeature('Characters')">Characters</md-tab>
        <md-tab style="width:100px" ng-click="ctrl.showFeature('Sides')">Sides</md-tab>
        <md-tab style="width:100px" ng-click="ctrl.showFeature('Reader')">Reader</md-tab>
      </md-tabs>
    </div>

    <md-card ng-show="ctrl.selected == 'Summary'" style="padding:16px" md-theme="default" md-theme-watch>
      <h2 class="md-headline">Summary</h2>
      <p>{{playSummary}}</p>  
    </md-card>

    <md-card ng-show="ctrl.selected == 'Sides'" style="padding:16px" md-theme="default" md-theme-watch>
      <sides file="file" characters="playChars" scenes="playScenes"></sides>
    </md-card>
    <div style="text-align: center" ng-show="ctrl.selected == 'Visualizations'" class="Visualizations"></div>
    <div style="text-align: center" ng-show="ctrl.selected == 'Characters'" id="chart"></div>
      <div style="text-align: center" ng-show="ctrl.selected == 'Characters'" class="barChart"></div>
    <div style="text-align: center" ng-show="ctrl.selected == 'Themes'" class="Themes" ng-controller="PlayController"></div>
  	<div style="text-align: center" ng-show="ctrl.selected == 'Themes'" class="themeGraph" ng-controller="PlayController"></div>

    <bar-chart></bar-chart>
    <speak-chord play="file"></speak-chord>
    <heat-map play="file"></heat-map>
    <word-cloud play="file"></word-cloud>
	<theme-graph play="file"></theme-graph>

  </md-content>
</div>