<div class="row" style="height=100%">
  <form class="col s12">
    <div class="row">
      <md-menu>
       <md-button class="md-raised md-cornered" ng-click="$mdOpenMenu($event)" aria-label="Open sample menu">
         Character
       </md-button>
       <md-menu-content>
         <md-menu-item ng-repeat="item in ctrl.characters">
          <md-button ng-click="ctrl.selectChar(item)">{{item}}</md-button>
        </md-menu-item>
       </md-menu-content>
      </md-menu>
      
      <md-menu>
       <md-button class="md-raised md-cornered" ng-click="$mdOpenMenu($event)" aria-label="Open sample menu">
         Act/Scene
       </md-button>
       <md-menu-content>
         <md-menu-item ng-repeat="item in ctrl.scenes">
          <md-button ng-click="ctrl.selectScene(item)">{{item}}</md-button>
        </md-menu-item>
       </md-menu-content>
      </md-menu>
      
    <md-button class="md-raised md-cornered" ng-click="ctrl.getData()">Generate Sides</md-button>
    <md-checkbox ng-model="ctrl.showNames" aria-label="Show previous character">
            Show previous characters' names
          </md-checkbox>
    </div>
    <div class="row" style="margin-bottom:16px">
      <span>{{ctrl.character}}</span>
      <span>{{ctrl.scene}}</span>
    </div>
    <md-content>
      <div ng-show="ctrl.showError">This character does not have any lines in the selected scene.</div>
      <div ng-show="ctrl.hasLines" ng-repeat="index in ctrl.indexes">
        <br>
        <div ng-show="ctrl.showNames" style="font-style: italic">{{ctrl.prevChars[index]}}</div>
        <div style="font-style: italic" ng-repeat="item in ctrl.prev[index] track by $index">{{item}}</div>
        <br>
        <div>{{ctrl.character}}</div>
        <div ng-repeat="line in ctrl.lines[index] track by $index">{{line}}</div>
      </div>
    </md-content>
  </form>
</div>